[user]
	name = Sergii Velykodnyi
	email = sergii.velykodnyi@gmail.com
[filter "lfs"]
  smudge = git-lfs smudge %f
  required = true
  clean = git-lfs clean %f
[core]
  excludesfile = ~/.gitexcludes
[color]
  ui = true
